{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Наш блог</h2>
                        <p>Добро пожаловать в аниме библиотеку</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Форма фильтрации по категориям и тегам -->
                    <form method="get" class="lg-4" style="margin-bottom: 60px;">
                        <div class="row">
                            <div class="col-lg-6 row blog_filter">
                                <div class="col-lg-6" style="display: flex; align-items: center">
                                    <label for="category" style="color: #fff; margin-right: 10px;">Категория: </label>
                                    <select name="category" id="category">
                                        <option value="" {% if not selected_category %}selected{% endif %}>Все</option>
                                        {% for category in categories %}
                                            <option value="{{ category.slug }}"
                                                    {% if category.slug == selected_category %}selected{% endif %}>
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6" style="display: flex; align-items: center">
                                    <label for="tag" style="color: #fff; margin-right: 10px;">Тег: </label>
                                    <select name="tag" id="tag">
                                        <option value="" {% if not selected_tag %}selected{% endif %}>Все</option>
                                        {% for tag in tags %}
                                            <option value="{{ tag.slug }}"
                                                    {% if tag.slug == selected_tag %}selected{% endif %}>
                                                {{ tag.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6" style="text-align: right">
                                <button type="submit" class="site-btn">Применить фильтр</button>
                            </div>
                        </div>
                    </form>
                    <!-- /Форма фильтрации по категориям и тегам -->

                    <div class="row">
                        {% if posts %}
                            {% for post in posts %}
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="blog__item small__item set-bg"
                                         data-setbg="{{ MEDIA_URL }}{{ post.poster.url }}">
                                        <div class="blog__item__text">
                                            <p><span class="icon_calendar"></span> {{ post.created_at|date:"d M Y" }}
                                            </p>
                                            <h4><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 style="text-align: center; color: #fff">Ничего не найдено :(</h4>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}