{% extends 'base.html' %}

{% block content %}
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h6>{% for cat in post.categories.all %}
                            {{ cat.name }}, {% endfor %}<span>- {{ post.created_at|date:"d M Y" }}</span></h6>
                        <h2>{{ post.title }}</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{ MEDIA_URL }}{{ post.poster.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        {{ post.body|safe }}
                        <div class="blog__details__tags">
                            {% for tag in post.tags.all %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="blog__details__comment">
                            <h4>{{ post.reviews.all|length }} Комментареев</h4>
                            {% for review in post.reviews.all %}
                                {% if not review.parent %}
                                    <div class="blog__details__comment__item">
                                        <div class="blog__details__comment__item__pic">
                                            <img style="width: 64px; border-radius: 100%"
                                                 src="{{ review.author.avatar.url }}" alt="">
                                        </div>
                                        <div class="blog__details__comment__item__text">
                                            <span>{{ review.created_at|date:"d M Y" }}</span>
                                            <h5>{{ review.author.username }}</h5>
                                            <p>{{ review.text }}</p>
                                            {% if request.user.id != review.author.id and request.user.is_authenticated %}
                                                <button class="site-btn" onclick="replay_review(this, {{ review.id }})">
                                                    Ответить
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if review.children.all|length > 0 %}
                                    {% for children in review.children.all %}
                                        <div class="blog__details__comment__item blog__details__comment__item--reply">
                                            <div class="blog__details__comment__item__pic">
                                                <img style="width: 64px; border-radius: 100%"
                                                     src="{{ children.author.avatar.url }}" alt="">
                                            </div>
                                            <div class="blog__details__comment__item__text">
                                                <span>{{ children.created_at|date:"d M Y" }}</span>
                                                <h5>{{ children.author.username }}</h5>
                                                <p>{{ children.text }}</p>
                                                {% if request.user.id != children.author.id and request.user.is_authenticated %}
                                                    <button class="site-btn"
                                                            onclick="replay_review(this, {{ children.id }})">Ответить
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="blog__details__form">
                                <h4>Напиши комментарий</h4>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input type="text" name="parent_id"
                                                   style="visibility: hidden; z-index: -99; position: absolute">
                                            <textarea placeholder="Сообщение" name="text"></textarea>
                                            <button type="submit" class="site-btn">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}