{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Обратная связь</h2>
                        <p>Есть вопросы или предложения?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login__form">
                        <h3>Сообщение</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Ваш никнейм" name="username" value="{{ request.user.username }}"/>
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="email" placeholder="Ваш email" name="email" value="{{ request.user.email }}">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="anime__details__form">
                                <textarea style="width: 370px; height: 200px; padding: 6px" placeholder="Ваш текст"
                                          name="body"></textarea>
                            </div>
                            <div style="color: #c82333; display: block; margin: 20px auto;">
                                {{ form.errors }}
                            </div>
                            <button type="submit" class="site-btn">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}