{% extends 'base.html' %}
{% load static %}
{% load anime_tags %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Ваш Аккаунт</h2>
                        <p>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Account Page -->
    <section class="account-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Account Sidebar -->
                    <div class="account-sidebar">
                        <div class="section-title">
                            <h5>Меню пользователя</h5>
                        </div>
                        <ul class="account-menu nav">
                            <li><a class="nav-link {% if request.GET.active_tab == 'profile' %} active {% endif %}"
                                   href="#profile" data-toggle="tab" onclick="add_active_tab_parametr(this)">Мой
                                профиль</a></li>
                            <li><a class="nav-link {% if request.GET.active_tab == 'favorites' %} active {% endif %}"
                                   href="#favorites" data-toggle="tab" onclick="add_active_tab_parametr(this)">Избранные
                                аниме</a></li>
                            <li><a class="nav-link {% if request.GET.active_tab == 'password' %} active {% endif %}"
                                   href="#password" data-toggle="tab" onclick="add_active_tab_parametr(this)">Сменить
                                пароль</a></li>
                            <li><a class="nav-link {% if request.GET.active_tab == 'exit' %} active {% endif %}"
                                   href="#exit" data-toggle="tab" onclick="add_active_tab_parametr(this)">Выход</a></li>
                        </ul>
                    </div>
                    <!-- /Account Sidebar -->
                </div>
                <div class="col-lg-9">
                    <!-- Account Content -->
                    <div class="account-content">
                        <div class="tab-content">
                            <!-- My Profile Tab -->
                            <div class="tab-pane fade container {% if request.GET.active_tab == 'profile' %} active show {% endif %}"
                                 id="profile">
                                <div class="section-title">
                                    <h5>Мой профиль</h5>
                                </div>
                                <div class="login__form">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="input__item">
                                            <input type="text" placeholder="Никнейм"
                                                   name="username" value="{{ user.username }}">
                                            <span class="icon_profile"></span>
                                        </div>
                                        <div class="input__item">
                                            <input type="text" placeholder="Имя"
                                                   name="first_name" value="{{ user.first_name }}">
                                            <span class="icon_profile"></span>
                                        </div>
                                        <div class="input__item">
                                            <input type="text" placeholder="Фамилия"
                                                   name="last_name" value="{{ user.last_name }}">
                                            <span class="icon_profile"></span>
                                        </div>
                                        <div class="">
                                            <span><img style="width: 128px; height: 128px"
                                                       src="{{ MEDIA_URL }}{{ user.avatar.url }}" alt=""></span>
                                            <input type="file" name="avatar">
                                        </div>
                                        {% if form_user_update_errors %}
                                            <div style="color: #c82333; text-align: left">
                                                {{ form_user_update_errors }}
                                            </div>
                                        {% endif %}

                                        {% if form_user_update_success %}
                                            <p style="color: #fff">Данные успешно обнавлены</p>
                                        {% endif %}
                                        <button type="submit" class="site-btn">Сохранить изменения</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /My Profile Tab -->

                            <!-- Favorites Tab -->
                            <div class="tab-pane fade container {% if request.GET.active_tab == 'favorites' %} active show {% endif %}"
                                 id="favorites">
                                <div class="section-title">
                                    <h5>Избранные аниме</h5>
                                </div>
                                <div class="favorites-list row">
                                    {% if following_animes %}
                                        {% for anime in following_animes %}
                                            {% large_item anime=anime.anime %}
                                        {% endfor %}
                                    {% else %}
                                        Вы ещё не добавили ни одного аниме
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /Favorites Tab -->

                            <!-- Change Password Tab -->
                            <div class="tab-pane fade container {% if request.GET.active_tab == 'password' %} active show {% endif %}"
                                 id="password">
                                <div class="section-title">
                                    <h5>Сменить пароль</h5>
                                </div>
                                <div class="login__form">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="input__item">
                                            <input type="password" placeholder="Введите текущий пароль"
                                                   name="old_password">
                                            <span class="icon_lock"></span>
                                        </div>
                                        <div class="input__item">
                                            <input type="password" placeholder="Новый пароль" name="new_password1">
                                            <span class="icon_lock"></span>
                                        </div>
                                        <div class="input__item">
                                            <input type="password" placeholder="Подтвердите новый пароль"
                                                   name="new_password2">
                                            <span class="icon_lock"></span>
                                        </div>
                                        {% if form_password_errors %}
                                            <div style="color: #c82333; text-align: left">
                                                {{ form_password_errors }}
                                            </div>
                                        {% endif %}

                                        {% if form_password_success %}
                                            <p style="color: #fff">Пароль успешно изменён</p>
                                        {% endif %}
                                        <button type="submit" class="site-btn">Сменить пароль</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /Change Password Tab -->

                            <div class="tab-pane fade container {% if request.GET.active_tab == 'exit' %} active show {% endif %}"
                                 id="exit">
                                <div class="section-title">
                                    <h5>Выход из аккаунта</h5>
                                </div>
                                <div class="favorites-list row">
                                    <button type="submit" class="site-btn" style="margin-left: 14px;"><a
                                            href="{% url 'logout' %}" style="color: #fff">Выйти</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Account Content -->
                </div>
            </div>
        </div>
    </section>
    <!-- /Account Page -->

{% endblock %}
