{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Смена пароля</h2>
                        <p>Добро пожаловать в аниме библиотеку</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login__form">
                        <h3>Смена пароля</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="password" placeholder="Новый пароль" name="new_password1">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Подтвердите новый пароль" name="new_password2">
                                <span class="icon_lock"></span>
                            </div>
                            <div style="color: #c82333; display: block; margin: 20px auto;">
                                {{ form.errors }}
                            </div>
                            <button type="submit" class="site-btn">Сменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
