<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f2f2f2;">
    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
        <tr>
            <td style="background-color: #ffffff; border: 1px solid #dddddd; padding: 30px; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
                <h2 style="color: #333333;">Здравствуйте!</h2>
                <p style="margin: 10px 0;">Вы получили это письмо, потому что запросили сброс пароля на нашем сайте.</p>
                <p style="margin: 10px 0;">Если вы не делали такого запроса, проигнорируйте это письмо.</p>
                <p style="margin: 10px 0;">Если вы действительно хотите сбросить пароль, пожалуйста, перейдите по следующей ссылке:</p>
                <p style="margin: 10px 0;">
                    <a href="{{ reset_link }}" style="display: inline-block; font-size: 16px; font-weight: bold; padding: 10px 20px; background-color: #007BFF; color: #ffffff; border-radius: 4px; text-decoration: none; margin-top: 20px; color: #ffffff; text-decoration: none;">Сбросить пароль</a>
                </p>
                <p style="margin: 10px 0;">Если кнопка выше не работает, скопируйте и вставьте следующую ссылку в адресную строку вашего браузера:</p>
                <p style="margin: 10px 0;">
                    <a href="{{ reset_link }}" style="color: #007BFF; text-decoration: none;">{{ password_reset_url }}</a>
                </p>
                <p style="margin: 10px 0;">С уважением,<br>Команда сайта "Аниме Библиотека"</p>
            </td>
        </tr>
    </table>
</body>
</html>
