{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Авторизация</h2>
                        <p>Добро пожаловать в аниме библиотеку</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login__form">
                        <h3>Авторизация</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Ваш никнейм" name="username">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Ваш пароль" name="password">
                                <span class="icon_lock"></span>
                            </div>
                            <div style="color: #c82333; display: block; margin: 20px auto;">
                                {{ form.errors }}
                            </div>
                            <button type="submit" class="site-btn">Войти</button>
                        </form>
                        <h5>У вас нет аккаунта? <a href="{% url 'singup' %}">Зарегистрируйтесь
                            сейчас
                            же!</a></h5>
                        <a href="{% url 'password_reset' %}" class="forget_pass">Забыли пароль?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}