{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Регистрация</h2>
                        <p>Добро пожаловать в аниме библиотеку</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login__form">
                        <h3>Регистрация</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Ваше имя" name="first_name">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Ваша фамилия" name="last_name">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Ваш никнейм" name="username">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="email" placeholder="Ваш email" name="email">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Ваш пароль" name="password1">
                                <span class="icon_lock"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Повторите пароль" name="password2">
                                <span class="icon_lock"></span>
                            </div>
                            <div style="color: #c82333; display: block; margin: 20px auto;">
                                {{ form.errors }}
                            </div>
                            <button type="submit" class="site-btn">Зарегестрироваться</button>
                        </form>
                        <h5>Уже зарегестрированы? <a href="{% url 'singin' %}">Войдите сейчас же!</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}