{% load static %}

<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span style="top: 5px;" class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url 'anime_index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'anime_index' %}">Главная</a></li>
                        <li><a href="{% url 'anime_list' slug='all' %}">Категории</a></li>
                        <li><a href="{% url 'post_list' %}">Блог</a></li>
                        <li><a href="{%url 'contact' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Копирайт &copy;<script>document.write(new Date().getFullYear());</script>
                    Все права защищены | Этот сайт сделан <a href="https://gitlab.com/HomeSani"
                                                             target="_blank">HomeSani</a> c <i class="fa fa-heart"
                                                                                               aria-hidden="true"></i>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

            </div>
        </div>
    </div>
</footer>