{% load static %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'anime_index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'anime_index' %}">Главная</a></li>
                            <li><a href="{% url 'anime_list' slug='all' %}">Категории <span
                                    class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    {% for category in categories %}
                                        <li><a href="{% url 'anime_list' slug=category.slug %}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'post_list' %}">Блог</a></li>
                            <li><a href="{%url 'contact' %}">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    {% if context.request.user.is_authenticated %}
                        <a href="{% url 'account_detail' %}?active_tab=profile"><img
                                style="width: 30px; height: 30px; border-radius: 100%; margin-right: 5px;"
                                src="{{ MEDIA_URL }}{{ context.request.user.avatar.url }}" alt="">
                            <span>{{ context.request.user.username }}</span></a>
                    {% else %}
                        <a href="{% url 'singin' %}">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>