<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
        <div class="product__item__pic set-bg"
             data-setbg="{{ MEDIA_URL }}{{ anime.poster.url }}">
            <div class="ep">{{ anime.episodes.count }}
                / {{ anime.expected_episode_count }}</div>
            <div class="comment"><i
                    class="fa fa-comments"></i> {{ anime.reviews.count }}</div>
            <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
        </div>
        <div class="product__item__text">
            <ul>
                <li>{{ anime.status }}</li>
                <li>{{ anime.type }}</li>
            </ul>
            <h5><a href="{% url 'anime_detail' slug=anime.slug %}">{{ anime.title|truncatechars:36 }}</a>
            </h5>
        </div>
    </div>
</div>