<div class="col-lg-8 col-md-8">
    <div class="anime__details__review">
        <div class="section-title">
            <h5>Комментарии</h5>
        </div>
        {% if reviews %}
            {% for review in reviews %}
                <div class="anime__review__item">
                    <div class="anime__review__item__pic">
                        <img src="{{ MEDIA_URL }}{{ review.author.avatar.url }}" alt="">
                    </div>
                    <div class="anime__review__item__text">
                        <h6>{{ review.author.username }} -
                            <span>{{ review.created_at|timesince }}</span>
                        </h6>
                        <p>{{ review.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4 style="text-align: center; color: #fff">Комментариев нет :(</h4>
        {% endif %}
    </div>
    {% if context.request.user.is_authenticated %}
        <div class="anime__details__form">
            <div class="section-title">
                <h5>Оставить Комментарий</h5>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <textarea placeholder="Ваш комментарий" name="text"></textarea>
                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
            </form>
        </div>
    {% endif %}
</div>