{% load anime_tags %}

<div class="col-lg-4 col-md-6 col-sm-8">
    <div class="product__sidebar">
        <div class="product__sidebar__view">
            <div class="section-title">
                <h5>Топ просмотров</h5>
            </div>
            {% for anime in more_viewed_animes %}
                {% small_item anime=anime %}
            {% endfor %}
        </div>
        <div class="product__sidebar__comment">
            <div class="section-title">
                <h5>Недавно прокоментированные</h5>
            </div>
            {% for anime in last_reviewed_animes %}
                {% small_item anime=anime %}
            {% endfor %}
        </div>
    </div>
</div>