<div class="product__sidebar__comment__item">
    <div class="product__sidebar__comment__item__pic">
        <img src="{{ MEDIA_URL }}{{ anime.poster.url }}" alt="">
    </div>
    <div class="product__sidebar__comment__item__text">
        <ul>
            <li>{{ anime.status }}</li>
            <li>{{ anime.type }}</li>
        </ul>
        <h5><a href="{% url 'anime_detail' slug=anime.slug %}">{{ anime.title|truncatechars:36 }}</a></h5>
        <span><i class="fa fa-eye"></i> {{ anime.views }} Просмотров</span>
    </div>
</div>