{% extends 'base.html' %}
{% load anime_tags %}

{% block content %}

    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ MEDIA_URL }}{{ anime.poster.url }}">
                            <div class="comment"><i class="fa fa-comments"></i> {{ reviews|length }}</div>
                            <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime.title }}</h3>
                                <span>{{ anime.japan_title }}</span>
                            </div>
                            <div class="anime__details__rating">
                                <form class="rating-area" method="post">
                                    {% csrf_token %}
                                    {% for i in "*****" %}
                                        {% if forloop.revcounter in user_rating %}
                                            <input type="radio" class="checked" id="star-{{ forloop.revcounter }}"
                                                   name="rating" value="{{ forloop.revcounter }}" onclick="submit()">
                                            <label class="checked" for="star-{{ forloop.revcounter }}"></label>
                                        {% else %}
                                            <input type="radio" id="star-{{ forloop.revcounter }}" name="rating"
                                                   value="{{ forloop.revcounter }}" onclick="submit()">
                                            <label for="star-{{ forloop.revcounter }}"></label>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                                <span>{{ anime.votes.count }} Голосов</span>
                            </div>
                            <p>{{ anime.description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Тип:</span> {{ anime.type }}</li>
                                            <li><span>Студия:</span> {{ anime.studio.name }}</li>
                                            <li><span>Даты выхода:</span> {{ anime.start_date|date:"d M Y" }} по
                                                {% if anime.end_date %}
                                                    {{ anime.end_date|date:"d M Y" }}
                                                {% else %}
                                                    ?
                                                {% endif %} </li>
                                            <li><span>Статус:</span> {{ anime.status }}</li>
                                            <li><span>Жанры:</span>{% for genre in anime.genres.all %}
                                                {{ genre.name }}, {% endfor %}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Рейтинг:</span> {{ rating }} / {{ votes_count }} оценок</li>
                                            <li><span>Время эпизода:</span> {{ anime.duration }} мин/эп</li>
                                            <li><span>Разрешение:</span> {{ anime.quality }}</li>
                                            <li><span style="width: 150px">Кол-во просмотров:</span> {{ anime.views }}
                                            </li>
                                            <li><span
                                                    style="width: 136px">Кол-во эпизодов:</span> {{ anime.episodes.count }}
                                                / {{ anime.expected_episode_count }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <form action="" method="post" style="display: inline">
                                    {% csrf_token %}
                                    <input id="is_follow" type="checkbox" name="is_follow"
                                           {% if is_follow %}checked{% else %}{% endif %}
                                           style="position: absolute; left: 0; top: 0; visibility: hidden;">
                                    <button class="follow-btn"
                                            style="position:relative; border: none;"
                                            onclick="toggle_favorite()"><i
                                            class="fa {% if is_follow %}fa-heart{% else %}fa-heart-o{% endif %}"></i> В
                                        избранное
                                        <input type="submit"
                                               style="position: absolute; top: 0; left: 0; width: 50px; height: 40px;
                                        visibility: hidden;">
                                    </button>
                                </form>

                                {% if anime.episodes.all %}
                                    <a href="
                                    {% url 'anime_watch' anime_slug=anime.slug episode_slug=anime.episodes.all.0.slug %}
                                    "
                                    class="watch-btn"><span>Смотреть сейчас</span> <i
                                        class="fa fa-angle-right"></i></a>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% reviews reviews=reviews %}
                <div class="col-lg-4 col-md-4">
                    {% if related_animes %}
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>Похожие аниме</h5>
                            </div>
                            {% for anime in related_animes %}
                                <div class="product__sidebar__view__item set-bg"
                                     data-setbg="{{ MEDIA_URL }}{{ anime.poster.url }}">
                                    <div class="ep">{{ anime.episodes.all|length }}
                                        / {{ anime.expected_episode_count }}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    <h5><a href="{% url 'anime_detail' slug=anime.slug %}">{{ anime.title }}</a></h5>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
