{% extends 'base.html' %}
{% load anime_tags %}

{% block content %}
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="section-title">
                                        <h4>{{ category_name }}</h4>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="product__page__filter">
                                        <p>Сортировать по:</p>
                                        <select class="anime_filters" onchange="on_sort_change(this)" def>
                                            <option value="new"{% if filter_by == 'new' %} selected {% endif %}>Новые
                                            </option>
                                            <option value="old"{% if filter_by == 'old' %} selected {% endif %}>Старые
                                            </option>
                                            <option value="a-z"{% if filter_by == 'a-z' %} selected {% endif %}>А-Я
                                            </option>
                                            <option value="z-a"{% if filter_by == 'z-a' %} selected {% endif %}>Я-А
                                            </option>
                                            <option value="views" {% if filter_by == 'views' %} selected {% endif %} >
                                                Просмотрам
                                            </option>
                                            <option value="rating"{% if filter_by == 'rating' %} selected {% endif %}>
                                                Рейтингу
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in page_obj.object_list %}
                                {% large_item anime=anime %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product__pagination">
                        {% if page_obj.has_previous %}
                            <a href="#" onclick="switch_page(this, {{ page_obj.previous_page_number }})"><i
                                    class="fa fa-angle-double-left"></i></a>
                        {% endif %}
                        {% for page_index in paginator.page_range %}
                            {% if page_obj.number == page_index %}
                                <a href="#" onclick="switch_page(this, {{ page_index }})"
                                   class="current-page">{{ page_index }}</a>
                            {% else %}
                                <a href="#" onclick="switch_page(this, {{ page_index }})">{{ page_index }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="#" onclick="switch_page(this, {{ page_obj.next_page_number }})"><i
                                    class="fa fa-angle-double-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% sidebar %}
            </div>
        </div>
    </section>
{% endblock %}