{% extends 'base.html' %}
{% load anime_tags %}

{% block content %}
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-white" style="text-align: center; padding: 30px 0px">Серия: {{ episode.title }}</h3>
                    <div class="anime__video__player">
                        <video id="player" playsinline controls data-poster="{{ MEDIA_URL }}{{ episode.poster.url }}">
                            <source src="{{ MEDIA_URL }}{{ episode.video.url }}" type="video/mp4"/>
                        </video>
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Список серий</h5>
                        </div>
                        {% for e in episodes %}
                            <a href="{% url 'anime_watch' episode_slug=e.slug anime_slug=request.resolver_match.kwargs.anime_slug %}">Серия {{ forloop.counter }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% reviews reviews=episode.reviews.all %}
            </div>
        </div>
    </section>
{% endblock %}