{% extends 'base.html' %}
{% load anime_tags %}


{% block content %}
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for anime in featured_animes %}
                    <div class="hero__items set-bg" data-setbg="{{ MEDIA_URL }}{{ anime.poster_for_feature.url }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <div class="label">{{ anime.category.name }}</div>
                                    <h2>{{ anime.title }}</h2>
                                    <p>{{ anime.description|truncatewords:16 }}</p>
                                    <a href="{% url 'anime_watch' anime_slug=anime.slug episode_slug=anime.episodes.all.0.slug %}"><span>Сомтреть сейчас</span>
                                        <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Популярное сезона</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'anime_list' slug='all' %}" class="primary-btn">Смотреть всё <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in season_trand_animes %}
                                {% large_item anime=anime %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Популярные за всё время</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'anime_list' slug='all' %}" class="primary-btn">Смотреть всё <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in season_trand_animes %}
                                {% large_item anime=anime %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Новые</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'anime_list' slug='all' %}" class="primary-btn">Смотреть всё <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in newset_animes %}
                                {% large_item anime=anime %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>{{ category.name }}</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'anime_list' slug=category.slug %}" class="primary-btn">Смотреть всё
                                        <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in category_animes %}
                                {% large_item anime=anime %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% sidebar %}
            </div>
        </div>
    </section>
{% endblock %}